.header {
  background-color: rgb(255, 255, 255);
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 120px;
  width: 100%;
  z-index: 160;





  &__content {
    margin-top: 10px;
    padding-bottom: 14px;

    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo_img {
      scale: 0.3;
      max-width: 1% !important;
      
      text-decoration: none !important;
    }

    &_right {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      position: relative;

    }

  
 
    &_links {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      position: relative;

      &:hover ~ .dot {
        transform: scaleX(1);
      }

      .gridMenu {
        margin: 0 20px;
        cursor: pointer;
      }
      .contact {
        display: inline-block;
        padding: 15px 20px;
        position: relative;
        cursor: pointer;
        font-size: 22px;
        letter-spacing: -0.24px;
        white-space: nowrap;
        color: #2474ffd8;
  
        &::after {
          content: "";
          background: none repeat scroll 0 0 transparent;
          bottom: 0;
          content: "";
          display: block;
          height: 1.5px;
          margin-top: 5px;
          left: 50%;
          position: relative;
          background: #fff;
          transition: width 0.3s ease 0s, left 0.3s ease 0s;
          width: 0;
          background-color: #61fd3a;
        }
  
        &:hover {
          color: #7bfd3a ;
  
          &::after {
            width: 100%;
            left: -15%;
          }
        }
      }

      .contactUs {
        margin-left: 20px;
        padding: 0 15px;
        font-size: 20px;
        height: 49px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: linear-gradient(
          to left,
          #8fb5fb,
          #3fe7f6,
          #19c6fe,
          #5b2dcc
        );
        background-size: 300%;
        background-position: 100% 0;
        transition: all 0.4s ease-out;

        svg {
          transition: all 0.4s ease-out;
        }

        &:hover {
          background-position: 0 100%;

          svg {
            transform: translateX(10px);
          }
        }
      }

   
    }
  }
}

.mob_header {
  display: none;
}

@media only screen and (max-width: 1650px) {
  .header {
    height: 90px;

    &__content {
      .logo_img {
        img {
          width: 120px;
        }
      }

      &_links {
        .gridMenu {
          img {
            width: 20px;
          }
        }

        .contactUs {
          font-size: 16px;
          height: 40px;

          svg {
            width: 30px;
          }
        }

      
      }
    }
  }
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .header {
    display: none;
  }


  .mob_header {
    display: block;
    background-color: rgb(255, 255, 255);
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    width: 100%;
    z-index: 190;

    &_content {
      height: 100%;
      &_main {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        // padding: 0 10px;
      }
    }

    &_logo {
      height: 30px;

      &_img {
        width: 93px;
        height: 100%;
      }
    }

    .mob_nav_right {
      display: flex;
      align-items: center;
      .contact {
        display: inline-block;
        padding: 15px 20px;
        position: relative;
        cursor: pointer;
        font-size: 20px;
        letter-spacing: -0.24px;
        white-space: nowrap;
        color: #2474ffd8;
  
        &::after {
          content: "";
          background: none repeat scroll 0 0 transparent;
          bottom: 0;
          content: "";
          display: block;
          height: 1.5px;
          margin-top: 5px;
          left: 50%;
          position: relative;
          background: #fff;
          transition: width 0.3s ease 0s, left 0.3s ease 0s;
          width: 0;
          background-color: #61fd3a;
        }
  
        &:hover {
          color: #7bfd3a ;
  
          &::after {
            width: 100%;
            left: -15%;
          }
        }
      }

      .contactUs {
        margin-left: 20px;
        padding: 0 15px;
        font-size: 20px;
        height: 49px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: linear-gradient(
          to left,
          #8fb5fb,
          #3fe7f6,
          #19c6fe,
          #5b2dcc
        );
        background-size: 300%;
        background-position: 100% 0;
        transition: all 0.4s ease-out;

        svg {
          transition: all 0.4s ease-out;
        }

        &:hover {
          background-position: 0 100%;

          svg {
            transform: translateX(10px);
          }
        }
      }

    }

  }
}

@media only screen and (min-width: 320px) and (max-width: 600px) {
  .header {
    display: none;
  }

 
  .mob_header {
    display: block;
    background-color: rgb(255, 255, 255);
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 55px;
    width: 100%;
    z-index: 1000;

    &_content {
      height: 100%;
      &_main {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        // padding: 0 10px;
      }
    }

    &_logo {
      height: 30px;

      &_img {
        width: 93px;
        height: 100%;
      }
    }

    .mob_nav_right {
      display: flex;
      align-items: center;
      .contact {
        display: inline-block;
        padding: 0px 0px;
        position: relative;
        cursor: pointer;
        font-size: 18px;
        letter-spacing: -0.24px;
        white-space: nowrap;
        color: #2474ffd8;
  
        &::after {
          content: "";
          background: none repeat scroll 0 0 transparent;
          bottom: 0;
          content: "";
          display: block;
          height: 1.5px;
          margin-top: 5px;
          left: 50%;
          position: relative;
          background: #fff;
          transition: width 0.3s ease 0s, left 0.3s ease 0s;
          width: 0;
          background-color: #61fd3a;
        }
  
        &:hover {
          color: #7bfd3a ;
  
          &::after {
            width: 100%;
            left: -15%;
          }
        }
      }
      .contactUs {
        margin-left: 10px;
        padding: 0 10px;
        font-size: 18px;
        height: 38px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: linear-gradient(
          to left,
          #8fb5fb,
          #3fe7f6,
          #19c6fe,
          #5b2dcc
        );
        background-size: 300%;
        background-position: 100% 0;
        transition: all 0.4s ease-out;

        svg {
          transition: all 0.4s ease-out;
        }

        &:hover {
          background-position: 0 100%;

          svg {
            transform: translateX(10px);
          }
        }
      }
 
    }

 
  }
}
