.readyToWork {
  height: 377px;
  padding: 60px 0;

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    .firstLine {
      font-size: 30px;
      font-family: "ak-light";
    }

    .secondLine {
      font-size: 90px;
      font-family: "ak-light";
      line-height: 100%;
      display: inline-flex;
      cursor: pointer;

      &:hover {
        // color: #a652ff;

        span {
          transform: scale(1.3);
          background-color: #fff !important;

          .activeArrow {
            transform: translate(30px, -30px);
          }

          .hoveredArrow {
            position: absolute;
            transform: translate(0);
          }
        }
      }

      span {
        min-width: 55px;
        min-height: 55px;
        width: 55px;
        height: 55px;
        border-radius: 50%;
        margin-left: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        transform: translateY(-10px);
        cursor: pointer;
        transition: all 0.3s ease-out;
        transform: scale(1);
        overflow: hidden;

        svg {
          transition: all 0.3s ease-out;
        }

        .activeArrow {
          position: absolute;
          transform: translate(0);
        }

        .hoveredArrow {
          transform: translate(-30px, 30px);
        }

        &:hover {
          transform: scale(1.3);
          background-color: #fff !important;

          .activeArrow {
            transform: translate(30px, -30px);
          }

          .hoveredArrow {
            position: absolute;
            transform: translate(0);
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1600px) {
  .readyToWork {
    height: 320px;

    &__content {
      .secondLine {
        font-size: 60px;

        span {
          min-width: 45px;
          min-height: 45px;
          width: 45px;
          height: 45px;
        }
      }
    }
  }
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .readyToWork {
    height: 220px;
    padding: 35px 0;

    &__content {
      .firstLine {
        font-size: 26px;
      }

      .secondLine {
        font-size: 45px;

        span {
          min-width: 40px;
          min-height: 40px;
          width: 40px;
          height: 40px;
        }
      }
    }
  }
}
@media only screen and (min-width: 320px) and (max-width: 600px) {
  .readyToWork {
    height: 330px;
    padding: 45px 0;
    text-align: center;

    &__content {
      .firstLine {
        font-size: 20px;
      }

      .secondLine {
        font-size: 40px !important;
        line-height: 120%;
        display: flex;
        flex-direction: column;
        align-items: center;

        span {
          min-width: 70px;
          min-height: 70px;
          width: 70px;
          height: 70px;
          margin-left: 0;
          margin-top: 20px;
        }
      }
    }
  }
}
