.firstSec {
  padding-top: 120px;
  padding-bottom: 120px;
  background-image: url("../../public/images/about/about_bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  overflow-x: hidden;

  &__content {
    .topContent {
      padding: 50px 0 80px 0;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;

      &__left {
        width: 48%;

        h1 {
          font-weight: 100;
          font-size: 80px;
          font-family: "ak-reg";
        }

        h4 {
          font-size: 40px;
          color: #45eaff;
          font-family: "ak-light";
          font-weight: 100;
        }
      }

      &__right {
        width: 50%;

        p {
          font-size: 30px;
          font-family: "ak-light";
          line-height: 140%;
        }
      }
    }

    .bottomContent {
      width: 100%;
      display: flex;
      align-items: flex-start;

      justify-content: space-evenly;

      &__item {
        // width: 25%;
        padding-right: 3%;

        h5 {
          font-size: 28px;
          font-family: "ak-reg";
          //   font-weight: 700;
          padding-bottom: 5%;

          span {
            color: #45eaff;
          }
        }

        p {
          font-size: 16px;
          font-family: "ak-light";
          line-height: 180%;
        }
      }
    }
  }
}

.secondSec {
  overflow-x: hidden;
  position: relative;

  &__content {
    // padding-left: 0%;

    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }

    .videoPlay {
      z-index: 2;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      cursor: pointer;
    }
  }

  .overlay {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.507);
    z-index: 1;
  }
}

.thirdSec {
  overflow-x: hidden;
  padding-top: 100px;
  overflow: hidden;

  &__content {
    // padding-left: 0 !important;

    .sectionTitle {
      font-size: 50px;
      font-family: "ak-light";
      font-weight: 100;
      text-align: center;
      padding-bottom: 1%;

      span {
        color: #45eaff;
      }
    }

    .sectionDescription {
      font-size: 18px;
      font-family: "ak-light";
      text-align: center;
      line-height: 170%;
      width: 70%;
      margin: auto;
      padding-bottom: 100px;
    }

    .top_text {
      font-size: 60px;
      text-transform: uppercase;
      white-space: nowrap;
      -webkit-text-stroke: 2px #5b5b5b;
      -webkit-text-fill-color: #000;
      font-family: "ak-bold";
    }

    .ourLeaders {
      text-align: center;
      font-size: 70px;
      text-transform: uppercase;
      color: #fff;
      font-family: "ak-reg";
      margin-bottom: 100px;
    }

    .teamContainer {
      position: relative;
      width: 100%;
      height: 100%;
      padding: 50px 0 100px 3%;
      // margin: auto;
      // display: flex;
      // justify-content: space-between;
      scroll-margin-top: 120px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);

      .teamItem {
        position: relative;
        background: #fff;
        color: #0b0754;
        // margin: 0 20px;
        padding: 15px;
        text-align: center;
        // width: 301px;
        outline: none !important;
        // max-width: 95%;
        min-height: 880px;
        // height: 100%;
        width: 98%;
        max-width: 550px;
        border-radius: 6px;
        margin-bottom: 25px;

        img {
          width: 100%;
          // height: 100%;
          object-fit: cover;
          object-position: center;
        }

        h4 {
          font-size: 24px;
          font-family: "ak-reg";
          font-weight: 300;
          padding: 15px 0 10px 0;
        }

        .designation {
          font-size: 19px;
          font-family: "ak-reg";
        }

        .designation_border {
          width: 60%;
          height: 2px;
          background: linear-gradient(45deg, #5c2fcd, #4465de, #3095ee);
          margin: 15px auto;
        }

        .description {
          font-size: 14px;
          font-family: "ak-reg";
          white-space: pre-line;
          line-height: 140%;
        }

        a {
          position: absolute;
          bottom: 3%;
          left: 50%;
          transform: translateX(-50%);
          font-size: 16px;
          color: #5c2dcc;
          font-family: "ak-med";
          border-bottom: 2px solid #5c2dcc;
        }
      }
    }
  }
}

.fourthSec {
  scroll-margin-top: 120px;
  background-color: #000;
  color: #fff;

  &__content {
    display: flex;
    padding-bottom: 100px;
    padding-top: 50px;

    .leftContent {
      width: 70%;
      padding-right: 5%;

      .sectionTitle {
        font-size: 50px;
        font-family: "ak-reg";
        color: #c371ff;
        padding-bottom: 3%;
      }

      .quote {
        font-size: 25px;
        font-family: "ak-lightItalic";
        line-height: 150%;
        padding-bottom: 1%;
      }

      .quoteAuthor {
        font-size: 20px;
        font-family: "ak-light";
        padding-bottom: 3%;
      }

      .sustainableDesc {
        font-size: 20px;
        font-family: "ak-light";
        white-space: pre-line;
        line-height: 170%;
        padding-bottom: 4%;
      }

      ul {
        padding-left: 15px;

        li {
          font-size: 20px;
          font-family: "ak-light";
          padding-bottom: 1.7%;
        }
      }
    }

    .rightContent {
      img {
        width: 100%;
        // height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
  }
}

.fifthSec {
  overflow-x: hidden;
  position: relative;
  background-image: url("../../public/images/about/agrim_headquarter.png");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  padding: 200px 0 150px 0;

  &__content {
    display: flex;
    align-items: center;
    z-index: 3;
    position: relative;

    .leftContent {
      position: relative;
      width: 50%;

      .imageContainer {
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
        }
      }

      .sliderIndicator {
        display: flex;
        width: 100%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        justify-content: space-between;

        &__left {
          cursor: pointer;
        }
        &__right {
          cursor: pointer;
        }
      }
    }

    .rightContent {
      width: 40%;
      padding-left: 4%;

      &__heading {
        font-size: 60px;
        font-family: "ak-med";
        font-weight: 100;
        padding-bottom: 15px;
        position: relative;
        // margin-bottom: 35px;

        span {
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
          height: 3px;
          width: 100%;
          background: linear-gradient(45deg, #4070e2, #1cc0fc);
        }
      }

      &__mapLink {
        display: flex;
        align-items: center;
        font-size: 30px;
        font-family: "ak-reg";

        padding: 35px 0;

        span {
          padding-left: 20px;
        }
      }

      &__desc {
        font-size: 18px;
        font-family: "ak-light";
        line-height: 180%;
        padding-bottom: 35px;
      }

      &__socialLinks {
        display: flex;
        align-items: center;

        .linkItem {
          margin-right: 8%;
        }
      }
    }
  }

  .bgOverlay {
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.719);
    backdrop-filter: blur(15px);
  }
}

@media only screen and (max-width: 1600px) {
  .firstSec {
    padding-top: 100px;
    padding-bottom: 80px;
    overflow-x: hidden;

    &__content {
      .topContent {
        padding: 40px 0 80px 0;

        &__left {
          h1 {
            font-size: 70px;
          }

          h4 {
            font-size: 30px;
          }
        }

        &__right {
          p {
            font-size: 25px;
          }
        }
      }

      .bottomContent {
        &__item {
          h5 {
            font-size: 22px;
          }

          p {
            font-size: 14px;
          }
        }
      }
    }
  }

  .secondSec {
    overflow-x: hidden;
    .videoPlay {
      img {
        width: 70px;
      }
    }
  }

  .thirdSec {
    padding-top: 60px;
    overflow-x: hidden;

    &__content {
      .sectionTitle {
        font-size: 45px;
      }

      .sectionDescription {
        font-size: 16px;
      }

      // .marquee {
      //   height: 100px;
      //   width: 100vw;

      //   //   overflow: hidden;
      //   position: relative;

      //   &__inner {
      //     display: block;
      //     // width: 230vw;
      //     width: 380%;
      //     height: 150px;
      //     position: absolute;
      //     overflow: hidden;
      //     transition: all 0.6s linear !important;
      //     animation: marquee 30s linear infinite;
      //     // animation-delay: 2s;

      //     &:hover {
      //       animation-play-state: paused;

      //       span {
      //         -webkit-text-fill-color: #5b5b5b;
      //         cursor: default;
      //       }
      //     }

      //     span {
      //       font-size: 60px;
      //       text-transform: uppercase;
      //       white-space: nowrap;
      //       //   overflow: hidden;
      //       float: left;
      //       width: 30%;
      //       -webkit-text-stroke: 2px #5b5b5b;
      //       -webkit-text-fill-color: #000;
      //       font-family: "ak-bold";
      //     }
      //   }

      //   @keyframes marquee {
      //     0% {
      //       left: 20%;
      //     }
      //     100% {
      //       left: -100%;
      //     }
      //   }
      // }

      .ourLeaders {
        font-size: 50px;
      }

      .teamContainer {
        grid-gap: 1rem;
        padding: 0;
        width: 90%;
        margin: auto;
        overflow-x: hidden;
        .teamItem {
          min-height: 720px;
          margin-bottom: 10px;

          img {
            max-height: 280px;
          }

          h4 {
            font-size: 20px;
            padding: 5px 0 5px 0;
          }

          .designation {
            font-size: 15px;
          }

          .designation_border {
            margin: 8px auto;
          }

          .description {
            font-size: 12px;
            line-height: 130%;
          }

          a {
            font-size: 14px;
          }
        }
      }
    }
  }

  .fourthSec {
    overflow-x: hidden;
    &__content {
      .leftContent {
        .sectionTitle {
          font-size: 45px;
        }

        .quote {
          font-size: 20px;
        }

        .quoteAuthor {
          font-size: 16px;
        }

        .sustainableDesc {
          font-size: 14px;
        }

        ul {
          padding-left: 10px;
          li {
            font-size: 15px;
          }
        }
      }

      .rightContent {
        img {
          width: 80%;
        }
      }
    }
  }

  .fifthSec {
    overflow-x: hidden;
    padding: 150px 0 100px 0;

    &__content {
      .leftContent {
        .sliderIndicator {
          &__left {
            svg {
              width: 50px;
            }
          }
          &__right {
            svg {
              width: 50px;
            }
          }
        }
      }

      .rightContent {
        &__heading {
          font-size: 45px;
          padding-bottom: 10px;

          span {
            height: 2px;
          }
        }

        &__mapLink {
          font-size: 22px;
          padding: 10px 0;

          svg {
            width: 25px;
          }

          span {
            padding-left: 15px;
          }
        }

        &__desc {
          font-size: 16px;
          padding-bottom: 25px;
        }

        &__socialLinks {
          .linkItem {
            margin-right: 8%;

            svg {
              width: 23px;
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .firstSec {
    &__content {
      .topContent {
        // width: 90%;
        padding-right: 2%;
        margin: auto;

        align-items: center;

        &__left {
          margin-right: 18px;

          h1 {
            font-size: 65px;
          }

          h4 {
            font-size: 25px;
          }
        }
      }

      .bottomContent {
        // width: 90%;
        margin: auto;
        flex-wrap: wrap;

        &__item {
          min-width: 300px;
          width: 50%;

          &:not(:last-child) {
            margin-bottom: 55px;
          }

          h5 {
            padding-bottom: 3%;
          }
        }
      }
    }
  }

  .secondSec {
    &__content {
      width: 100vw;

      video {
        width: 100%;
        height: 650px;
        object-fit: cover;
        object-position: center;
      }
    }
  }

  .thirdSec {
    &__content {
      .ourLeaders {
        font-size: 40px;
      }

      .teamContainer {
        overflow-x: scroll;
        width: 100vw;
        padding: 50px 15px 50px 15px;
        grid-template-columns: repeat(5, 1fr);

        &::-webkit-scrollbar {
          display: none;
        }
      }

      .teamItem {
        min-width: 350px;

        &:not(:last-child) {
          margin-right: 30px;
        }
      }
    }
  }

  .fourthSec {
    margin-top: -150px;

    &__content {
      // margin: 30px auto;

      .leftContent {
        width: 70%;
        padding-right: 3%;
      }

      .rightContent {
        width: 30%;

        img {
          width: 100%;
        }
      }
    }
  }

  .fifthSec {
    padding: 100px 0;

    &__content {
      flex-direction: column;
      align-items: flex-start;
    }

    .leftContent,
    .rightContent {
      margin: auto;
    }

    .leftContent {
      width: 100%;
    }

    .rightContent {
      width: 100%;
      margin-top: 40px;
      padding-left: 0;

      &__socialLinks {
        margin-left: 10px;
      }
    }
  }
}

@media only screen and (min-width: 320px) and (max-width: 600px) {
  .firstSec {
    &__content {
      .topContent {
        flex-direction: column;
        padding: 10px 0 50px;

        & > * {
          width: 100%;
        }

        h1 {
          font-size: 50px;
        }

        h4 {
          font-size: 23px;
          margin: 15px 0;
        }

        &__right {
          p {
            font-size: 22px;
          }
        }
      }

      .bottomContent {
        // flex-direction: column;
        overflow-x: auto;
        flex-wrap: nowrap;
        justify-content: flex-start;
        width: 100vw;

        &::-webkit-scrollbar {
          display: none;
        }

        &__item {
          min-width: 80vw;
          padding-right: 15%;

          &:not(:last-child) {
            margin-bottom: 20px;
          }

          h5 {
            padding-bottom: 2%;
            font-size: 20px;
          }
        }
      }
    }
  }

  .secondSec {
    &__content {
      width: 100vw;

      video {
        width: 100%;
        height: 450px;
        object-fit: cover;
        object-position: center;
      }

      .videoPlay {
        img {
          width: 60px;
          height: 60px;
        }
      }
    }
  }

  .thirdSec {
    &__content {
      .sectionTitle {
        width: 90%;
        margin: auto;
        text-align: left;
        font-size: 35px;
      }

      .sectionDescription {
        width: 90%;
        margin: 20px auto;
        text-align: left;
      }

      .ourLeaders {
        font-size: 35px;
        margin-bottom: 125px;
      }

      .teamContainer {
        width: 100vw;
        // height: 670px;
        // margin: auto;
        margin-bottom: 40px;
        overflow-x: auto;
        padding: 0 15px;
        grid-template-columns: repeat(5, 1fr);

        &::-webkit-scrollbar {
          display: none;
        }
      }

      .teamItem {
        min-width: 85vw;
        // min-height: 0;
        height: 100%;

        img {
          // max-height: 180px !important;
        }

        h4 {
          padding: 5px 0 !important;
          font-size: 18px !important;
        }

        .designation {
          font-size: 14px !important;
        }

        .description {
          line-height: 130% !important;
        }

        &:not(:last-child) {
          margin-right: 10px;
        }
      }
    }
  }
  .fourthSec {
    overflow-x: visible !important;
    &__content {
      flex-direction: column;
      padding-top: 10px;

      .leftContent {
        width: 100%;
        order: 2;

        h2 {
          font-size: 32px !important;
        }

        h4 {
          font-size: 18px !important;
        }
      }

      .rightContent {
        width: 60%;
        margin: -100px auto auto auto;
        padding: 5%;
        order: 1;
        margin-bottom: 10%;

        img {
          width: 100%;
        }
      }
    }
  }

  .fifthSec {
    padding: 75px 0;
    &__content {
      flex-direction: column;
      align-items: flex-start;

      .leftContent {
        width: 100%;
        margin: auto;
      }

      .rightContent {
        width: 100%;
        margin: auto;
        margin-top: 50px;
        padding-left: 0;

        &__socialLinks {
          margin-left: 10px;
        }
      }
    }
  }
}
