.topNav {
  background: linear-gradient(45deg, #5c2dcc, #397de6, #19c8ff);
  background-size: 500% 500%;
  animation: movingGradient 50s ease infinite;
  position: fixed;
  top: 120px;
  width: 100%;
  z-index: 150;

  @keyframes movingGradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 55px;

    .backLink {
      font-size: 24px;
      font-family: "ak-reg";
      display: flex;
      align-items: center;

      svg {
        transition: all 0.2s ease-out;
      }

      &:hover {
        svg {
          transform: translateX(-10px);
        }
      }

      span {
        padding-left: 15px;
      }
    }

    .share {
      margin-right: 13.5%;
      position: relative;

      &__icon {
        cursor: pointer;
        display: flex;
        align-items: center;
      }

      &__content {
        position: absolute;
        top: -20px;
        left: -95px;
        background-color: #fff;
        color: #0f0f0f;
        width: 220px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px 0 0 0;
        transition: all 0.4s ease-out;
        transform: translateY(100%);

        &_cross {
          margin-bottom: 20px;
          margin-top: 15px;
          background-color: #5c2dcc;
          padding: 5px;
          display: flex;
          border-radius: 50%;
          cursor: pointer;

          svg {
            width: 26px;
            height: 26px;
            padding: 5px;
          }
        }

        ul {
          width: 100%;

          li {
            padding-bottom: 10px;
            padding-top: 10px;
            list-style: none;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;

            a {
              font-size: 20px;
              text-align: center;
              font-family: "ak-reg";
            }

            &:hover {
              background-color: #0b0754;
              color: #fff;
            }
          }
        }
      }
    }
  }
}

.firstSec {
  position: relative;
  margin-top: 175px;
  width: 100%;
  height: 673px;
  border-bottom: 1.5px solid #fff;

  &__bgImage {
    width: 100%;
    height: 100%;
    // background-position: center;
    // background-size: cover;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
    opacity: 0.3;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  &__content {
    padding-top: 80px;
    position: relative;
    height: 100%;
    z-index: 2;
    display: flex;
    flex-direction: column;

    .backLink {
      font-size: 40px;
      color: #45eaff;
      font-family: "ak-light";

      &:hover {
        svg {
          transform: translateX(-5px);
        }
      }

      span {
        padding-right: 20px;

        svg {
          //   transform: translateY(10px);
          transition: all 0.2s ease-out;
        }
      }
    }

    .sectionTitle {
      font-size: 80px;
      font-family: "ak-bold";
      font-weight: 100;
      padding: 30px 0 10px 0;
      text-transform: capitalize;
    }

    .sectionDescription {
      font-size: 30px;
      font-family: "ak-light";
      line-height: 140%;
      width: 70%;
    }
  }
}

.secondSec {
  background: linear-gradient(to right, #5c2dcc 50%, #0b0754 50%);

  &__content {
    display: flex;

    .item {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;

      &__heading {
        font-size: 60px;
        font-family: "ak-reg";
        display: flex;
        align-items: center;
        font-weight: 100;
      }

      &__description {
        font-size: 22px;
        font-family: "ak-light";
        line-height: 160%;
        padding-left: 93px;
        white-space: pre-line;
      }

      &__visit_website {
        font-size: 20px;
        font-family: "ak-reg";
        margin-left: 93px;
        position: relative;
        margin-top: 100px;
        transition: all 0.3s ease-out;

        &:hover {
          letter-spacing: 0.5px;
        }

        svg {
          padding-left: 15px;
        }
      }

      &:first-child {
        background-color: #5c2dcc;
        padding-top: 40px;
        padding-right: 5%;
        padding-bottom: 40px;
      }
      &:last-child {
        background-color: #0b0754;
        padding: 3% 3% 5% 3%;
      }
    }
  }
}

.thirdSec {
  background-color: #fff;
  color: #000;

  &__content {
    display: flex;
    align-items: center;
    padding-top: 3%;
    padding-bottom: 5%;

    .leftContent {
      width: 50%;

      h2 {
        font-size: 60px;
        color: #0b0754;
        font-family: "ak-reg";
        display: flex;
        align-items: center;
        font-weight: 100;

        span {
          padding-right: 5px;
        }
      }

      p {
        font-size: 22px;
        color: #222222;
        line-height: 160%;
        font-family: "ak-light";
        padding-left: 95px;
        padding-bottom: 20px;
      }

      h5 {
        padding-left: 95px;
        font-size: 24px;
        font-family: "ak-med";
        font-weight: 100;
        padding-bottom: 10px;
        padding-top: 40px;
      }

      ul {
        padding-left: 110px;
        padding-bottom: 20px;

        li {
          font-size: 22px;
          font-family: "ak-light";
          color: #0b0754;
          padding: 5px 0;
        }
      }
    }

    .rightContent {
      width: 50%;
      margin-left: 4%;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
  }
}

.phishing {
  background: linear-gradient(120deg, #4f20c4, #199fcc) !important;
  color: #fff !important;

  .thirdSec__content {
    padding-top: 0;
    padding-bottom: 0;

    .leftContent {
      width: 60% !important;

      h2 {
        color: #fff !important;
        padding-bottom: 10px;
      }

      p {
        color: #fff !important;
      }
    }
    .rightContent {
      width: 40% !important;
      margin-left: 4%;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
  }
}

.fourthSec {
  background: linear-gradient(120deg, #4f20c4, #199fcc);
  border-bottom: 1.5px solid #fff;

  &__content {
    padding-top: 80px;
    padding-bottom: 100px;

    .agrimSol_title {
      font-size: 60px;
      font-family: "ak-reg";
      font-weight: 100;
      display: flex;
      align-items: center;
    }

    .agrimSol_subText {
      font-size: 19px;
      font-family: "ak-light";
      line-height: 160%;
      padding-left: 90px;
      white-space: pre-line;
      padding-right: 10%;
      padding-bottom: 4%;
    }

    .agrimSol_desc {
      font-size: 22px;
      font-family: "ak-light";
      width: 60%;
      line-height: 160%;
      padding-left: 90px;
    }

    .agrimSol__pointers {
      width: 100%;
      padding-left: 90px;
      display: flex;
      flex-wrap: wrap;
      padding-top: 40px;

      .benefits_list {
        width: 25% !important;
      }

      .agrimSol_list_two {
        width: 25% !important;
        margin-bottom: 5% !important;
      }

      .agrimSol_list {
        width: 20%;
        margin-bottom: 5%;
        // display: flex;
        padding-right: 5%;

        .head {
          font-size: 60px;
          font-family: "ak-reg";
          font-weight: 100;
        }

        .imageIcon {
        }

        .body {
          font-size: 20px;
          font-family: "ak-light";
          white-space: pre-line;
          padding-top: 10px;
          line-height: 150%;
        }

        img {
          padding-bottom: 20px;
          height: 80px;
        }

        p {
          font-size: 18px;
          font-family: "ak-light";
          line-height: 140%;
        }

        h5 {
          font-size: 22px;
          font-family: "ak-med";
          font-weight: 100;
          padding-bottom: 15px;
          white-space: pre-line;
        }

        ul {
          padding-left: 10px;

          li {
            font-size: 20px;
            font-family: "ak-light";
            padding-bottom: 10px;
          }
        }
      }
    }
  }
}

.fifthSec {
  // background: #5c2dcc !important;
}

.sixthSec {
  background-color: #f7f7f7;
  //   height: 80vh;
  color: #000;

  &__content {
    height: 100%;
    background-color: #fff;
    padding-top: 120px;
    padding-bottom: 120px;
    padding-left: 300px;
    border-top-left-radius: 443px;
    border-bottom-left-radius: 443px;
    margin-right: 0;

    .testimonial_title {
      font-size: 60px;
      font-family: "ak-reg";
      font-weight: 100;
      display: flex;
      align-items: center;
      padding-bottom: 40px;
    }

    .quote {
      width: 65%;
      position: relative;
      padding-left: 100px;

      .quoteText {
        font-size: 20px;
        font-family: "ak-light";
        line-height: 180%;
        color: #0b0754;
      }

      span {
        &:first-child {
          position: absolute;
          top: -15px;
          left: 60px;
        }

        &:last-child {
          position: absolute;
          right: 0px;
          bottom: -50px;
          transform: rotate(180deg) translateY(40px);

          svg {
          }
        }
      }
    }

    .profile {
      padding-left: 100px;
      padding-top: 100px;

      &__img {
        width: 113px;
        height: 113px;
        border-radius: 50%;
        overflow: hidden;
        border: 1.5px solid #5635c4;

        img {
          width: 100%;
          padding: 2px;
          height: 100%;
          object-fit: cover;
          border-radius: 50%;
          object-position: center;
        }
      }

      &__name {
        font-size: 20px;
        font-family: "ak-reg";
        color: #0b0754;
        padding: 15px 0 10px 0;
      }

      &__desg {
        font-size: 20px;
        color: #969696;
        font-family: "ak-reg";
      }
    }
  }
}

@media only screen and (max-width: 1600px) {
  .topNav {
    top: 90px;

    &__content {
      height: 45px;
    }

    .backLink {
      font-size: 17px;

      svg {
        height: 18px;
      }

      span {
        padding-left: 10px;
      }
    }

    .shareIcon {
      svg {
        width: 30px;
      }
    }
  }

  .firstSec {
    margin-top: 135px;
    height: 500px;

    &__content {
      padding-top: 60px;

      .backLink {
        font-size: 26px;

        span {
          padding-right: 10px;

          svg {
            width: 18px;
            height: 18px;
          }
        }
      }

      .sectionTitle {
        font-size: 60px;
      }

      .sectionDescription {
        font-size: 22px;
        width: 65%;
      }
    }
  }

  .secondSec {
    &__content {
      .item {
        &__heading {
          font-size: 45px;

          span {
            svg {
              width: 60px;
              margin-right: 15px;
            }
          }
        }

        &__description {
          font-size: 16px;
          padding-left: 80px;
        }

        &__visit_website {
          font-size: 18px;
          margin-left: 80px;
        }
      }
    }
  }

  .thirdSec {
    &__content {
      .leftContent {
        h2 {
          font-size: 45px;

          span {
            padding-right: 5px;

            svg {
              width: 60px;
              margin-right: 15px;
            }
          }
        }

        p {
          font-size: 16px;
          padding-left: 83px;
        }

        h5 {
          padding-left: 83px;
          font-size: 20px;
        }

        ul {
          padding-left: 100px;

          li {
            font-size: 16px;
          }
        }
      }
    }
  }

  .fourthSec {
    &__content {
      padding-top: 50px;
      padding-bottom: 50px;

      .agrimSol_title {
        font-size: 45px;

        span {
          svg {
            width: 60px;
            margin-right: 15px;
          }
        }
      }

      .agrimSol_subText {
        font-size: 16px;
        padding-left: 80px;
      }

      .agrimSol_desc {
        font-size: 18px;
        padding-left: 80px;
      }

      .agrimSol__pointers {
        padding-left: 80px;

        .agrimSol_list {
          .head {
            font-size: 35px;
          }

          .body {
            font-size: 15px;
          }

          img {
            height: 70px;
          }

          p {
            font-size: 15px;
          }

          h5 {
            font-size: 17px;
          }

          ul {
            li {
              font-size: 15px;
            }
          }
        }
      }
    }
  }

  .sixthSec {
    &__content {
      padding-top: 50px;
      padding-bottom: 50px;
      padding-left: 250px;
      border-top-left-radius: 443px;
      border-bottom-left-radius: 443px;
      margin-right: 0;

      .testimonial_title {
        font-size: 45px;
        padding-bottom: 25px;

        span {
          svg {
            width: 60px;
            margin-right: 15px;
          }
        }
      }

      .quote {
        padding-left: 110px;

        .quoteText {
          font-size: 16px;
        }

        span {
          &:first-child {
            position: absolute;
            top: -15px;
            left: 70px;
          }

          &:last-child {
            position: absolute;
            right: 0px;
            bottom: -50px;
          }
        }
      }

      .profile {
        padding-left: 110px;
        padding-top: 60px;

        &__img {
          width: 80px;
          height: 80px;
        }

        &__name {
          font-size: 16px;
        }

        &__desg {
          font-size: 16px;
        }
      }
    }
  }
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .topNav {
    top: 70px;
  }

  .firstSec {
    height: auto;
    padding-bottom: 80px;
    margin-top: 115px;
    &__content {
      .sectionDescription {
        width: 90%;
      }
    }
  }

  .secondSec {
    &__content {
      flex-direction: column;
      width: 100%;

      .item {
        width: 100%;

        h2 {
          span {
            svg {
              width: 50px;
            }
          }
        }

        &__description {
          padding-right: 20px;
          padding-left: 65px;
        }

        &__visit_website {
          margin-top: 40px;
          margin-left: 65px;
        }

        &:first-child {
          padding: 3% 3% 5% 3%;
        }
      }
    }
  }
  .thirdSec {
    &__content {
      flex-direction: column-reverse;

      .rightContent {
        width: 60%;
        margin: auto;
      }

      .leftContent {
        width: 100%;

        h2 {
          span {
            svg {
              width: 50px;
            }
          }
        }
      }
    }
  }

  .phishing {
    .thirdSec__content {
      .leftContent {
        width: 100% !important;
        padding-bottom: 5%;
      }
      .rightContent {
        width: 80% !important;
        margin-left: 0%;
        margin: auto;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
        }
      }
    }
  }

  .fourthSec {
    &__content {
      .agrimSol_subText {
        font-size: 16px;
        padding-left: 63px;
      }

      .agrimSol_desc {
        font-size: 16px;

        margin-bottom: 20px;

        width: 84%;
        padding: 0;
        margin: auto;
      }

      .agrimSol__pointers {
        padding: 0;
        width: 84%;
        margin: auto;
        margin-top: 40px;
        .agrimSol_list {
          width: 50% !important;

          .head {
            font-size: 30px;
          }
        }
      }
    }

    .agrimSol_title {
      span {
        svg {
          width: 50px;
        }
      }
    }

    .agrimSol_desc {
    }
  }

  .sixthSec {
    background-color: #fff;
    padding-left: 40px;
    &__content {
      padding: 0;
      padding-top: 40px;
      padding-bottom: 40px;
      width: 100%;
      .testimonial_title {
        span {
          svg {
            width: 50px;
          }
        }
      }

      .quote {
        width: 70%;
        margin: auto;
        padding-left: 0;
        margin-left: 80px;

        line-height: 180%;

        span:first-child {
          margin-left: -120px;
        }

        span:last-child {
          bottom: -5px;
          // right: 95px;
          transform: scale(-1);
        }
      }

      .profile {
        width: 70%;
        margin: auto;
        padding-left: 0;
        margin-left: 80px;
      }
    }
  }
}

@media only screen and (min-width: 320px) and (max-width: 600px) {
  .topNav {
    top: 55px;

    &__content {
      .share {
        margin-right: 0;

        &__content {
          width: 180px;
          left: -130px;

          &_cross {
            margin-right: -113px;
            margin-top: 10px;
          }

          ul {
            li {
              span {
                font-size: 16px;
              }
            }
          }
        }
      }
    }
  }

  .firstSec {
    height: auto;
    padding-bottom: 80px;
    &__content {
      margin-top: -40px;
      padding-top: 15%;

      .sectionTitle {
        font-size: 40px;
      }

      .sectionDescription {
        line-height: 170%;
        font-size: 16px;
        width: 100%;
      }
    }
  }

  .secondSec {
    &__content {
      flex-direction: column;
      width: 100%;

      .item {
        width: 100%;
        padding-bottom: 40px;
        line-height: 1;

        h2 {
          font-size: 40px;

          span {
            svg {
              width: 40px;
              height: 45px;
              margin-right: 5px;
            }
          }
        }

        &:first-child {
          padding-left: 2%;
        }

        &:last-child {
          padding-bottom: 50px;
          padding-right: 30px;
        }

        &__visit_website {
          margin-top: 40px;
          margin-left: 16%;
        }

        &__description {
          width: 100%;
          margin-left: 10px;
          padding-left: 11%;
          line-height: 2;
        }
      }
    }
  }

  .thirdSec {
    &__content {
      flex-direction: column-reverse;

      .rightContent {
        width: 100%;
      }

      .leftContent {
        // border: 1px solid red;
        margin-top: 50px;
        width: 100%;
        h2 {
          font-size: 40px;
          // margin-left: -20px;

          span {
            svg {
              width: 40px;
              height: 45px;
              margin-right: 5px;
            }
          }
        }

        p {
          padding-right: 15px;
          padding-bottom: 10px;
          padding-top: 10px;
          font-size: 16px;
        }

        p,
        h5 {
          padding-left: 60px;
        }

        ul {
          padding-left: 70px;
        }
      }
    }
  }

  .phishing {
    .thirdSec__content {
      .leftContent {
        width: 100% !important;
        padding-bottom: 5%;
      }
      .rightContent {
        width: 100% !important;
        margin-left: 0%;
        margin: auto;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
        }
      }
    }
  }

  .fourthSec {
    &__content {
      width: 100%;

      .agrimSol_title {
        font-size: 40px;
        padding-left: 10px;

        span {
          svg {
            width: 40px;
            height: 45px;
            margin-right: 5px;
          }
        }
      }

      .agrimSol_subText {
        font-size: 16px;
        padding-left: 60px;
      }

      .agrimSol_desc {
        width: 90%;
        margin-left: auto;
        padding-left: 15px;
        padding-right: 15px;
        font-size: 16px;
        margin-bottom: 40px;
      }

      .agrimSol__pointers {
        padding: 0;
        width: 70%;
        margin: auto;

        .agrimSol_list {
          padding-right: 10px;
          width: 100% !important;

          p,
          .body {
            font-size: 14px;
            line-height: 170%;
          }

          &:not(:last-child) {
            margin-bottom: 30px;
          }
        }
      }
    }
  }

  .sixthSec {
    background-color: #fff;
    padding: 0;
    &__content {
      padding: 0;
      padding-top: 40px;
      padding-bottom: 40px;
      width: 100%;

      .testimonial_title {
        font-size: 40px;
        margin-left: 10px;

        span {
          svg {
            width: 40px;
          }
        }
      }

      .quote {
        width: 70%;
        margin-left: auto;
        margin-right: 40px;
        padding-left: 0;
        line-height: 180%;

        span:first-child {
          margin-left: -115px;
        }

        span:last-child {
          bottom: -5px;
          // right: 132px;
          transform: scale(-1);
        }
      }

      .profile {
        padding-left: 0;
        width: 70%;
        margin-left: auto;
        margin-right: 40px;
      }
    }
  }
}
