.firstSec {
  padding-top: 150px;
  background-color: #fff;
  color: #000;

  &__content {
    .sectionTitle {
      padding-bottom: 5%;
      width: 400px;
      position: relative;

      span {
        font-size: 90px;
        font-family: "ak-bold";
        font-weight: 100;
        line-height: 110%;
        z-index: 2;
        position: relative;
      }

      svg {
        position: absolute;
        right: 10%;
        z-index: 1;
        top: 30%;
      }

      .knowledge {
        top: 0%;
        right: 0%;
      }
    }

    .sectionDesc {
      color: #0b0754;
      font-size: 36px;
      font-family: "ak-light";
      padding-bottom: 5%;
    }

    .knowledge {
      display: flex;
      flex-wrap: wrap;
      // justify-content: space-between;

      &__blog {
        width: 30%;
        margin-right: 3%;
        display: flex;
        flex-direction: column;
        margin-bottom: 8%;
        min-height: 610px;
        position: relative;

        .imgContainer {
          height: 285px;
          overflow: hidden;

          &:hover {
            img {
              transform: scale(1.1);
            }
          }

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transform: scale(1);
            object-position: center;
            transition: all 0.2s ease-out;
          }
        }

        .category {
          color: #969696;
          font-size: 18px;
          font-family: "ak-reg";
          padding: 4% 0;
        }

        .title {
          font-size: 26px;
          font-family: "ak-med";
          color: #0b0754;
          font-weight: 100;
          padding-bottom: 4%;
        }

        .description {
          color: #0f0f0f;
          font-family: "ak-light";
          font-size: 21px;
          line-height: 150%;
        }

        .readMore {
          font-size: 18px;
          font-family: "ak-reg";
          color: #a652ff;
          text-transform: uppercase;
          position: absolute;
          bottom: 2%;
          transition: all 0.2s ease-out;

          &:hover {
            letter-spacing: 0.8px;
          }
        }
      }
    }

    .clients {
      display: flex;
      flex-wrap: wrap;

      &__item {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        border-right: 1.5px solid #ececec;
        transition: all 0.4s;

        width: 31%;

        padding-right: 1.5%;
        padding-left: 1.5%;
        margin-bottom: 5%;
        padding-bottom: 30px;

        &:first-child {
          margin-left: 0rem;
        }

        &:nth-child(3) {
          border-right: none;
        }

        &:last-child {
          border-right: none;
        }

        &:hover {
          background-color: #5c2dcc;
          padding-top: 20px;
        }

        &:hover .pointersTitle {
          color: #fff;
        }

        &:hover * {
          color: #fff;
          stroke: #fff;
        }

        &:hover a {
          color: #fff;
        }

        &_number {
          grid-column: 1 / -1;
          padding-bottom: 10px;

          p {
            font-size: 50px;
            color: #cdcccc;
            font-family: "ak-light";
          }
        }

        &_head {
          grid-column: 1 / -1;

          padding: 10px 0;

          p {
            font-family: "ak-bold";
            font-size: 30px;
            color: #5c2dcc;
            text-transform: capitalize;
          }
        }

        &_img {
          width: 100%;

          background-color: #000;
          height: 333px;
          position: relative;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
          }
        }

        &_challenges {
          padding-top: 20px;

          h3 {
            font-size: 22px;
            color: #0b0754;
            font-weight: 100;
            padding-bottom: 10px;
          }

          p {
            font-size: 18px;
            font-family: "ak-reg";
            color: #707070;
            white-space: pre-line;
            line-height: 150%;
          }
        }

        &_list {
          grid-column: 1 / -1;
          // width: 399px;
          padding-top: 20px;

          .pointersTitle {
            color: #0b0754;
            font-size: 22px;
            padding-bottom: 10px;
          }

          ul {
            margin-left: 15px;
            line-height: 1.5;
            // list-style-position: inside;

            li {
              font-size: 18px;
              font-family: "ak-light";
              color: #707070;
              padding-bottom: 10px;
              line-height: 130%;
            }
          }
        }

        &_button {
          margin-top: 20px;
          grid-column: 1 / -1;
          display: flex;
          align-items: center;
          font-size: 20px;
          color: #5c2dcc;
          margin-left: 18px;

          &:hover {
            letter-spacing: 0.5px;
          }

          a {
            transition: all 0.2s ease-out;
            &:link,
            &:visited {
              color: inherit;
              text-decoration: none;
              transition: all 0.2s ease-out;
            }
          }

          svg {
            color: inherit;
            margin-left: 10px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1600px) {
  .firstSec {
    padding-top: 110px;

    &__content {
      .sectionTitle {
        padding-bottom: 3%;

        span {
          font-size: 60px;
        }

        .knowledge {
          top: -40% !important;
          right: -40% !important;
        }

        svg {
          position: absolute;
          left: 35% !important;
          z-index: 1;
          top: 10%;
          width: 80px;
        }
      }

      .sectionDesc {
        font-size: 26px;
        padding-bottom: 3%;
      }

      .knowledge {
        &__blog {
          min-height: 500px;

          .imgContainer {
            height: 225px;
          }

          .category {
            font-size: 15px;
          }

          .title {
            font-size: 20px;
          }

          .description {
            font-size: 16px;
          }

          .readMore {
            font-size: 15px;
          }
        }
      }

      .clients {
        &__item {
          // display: flex;
          // flex-direction: column;
          // justify-content: flex-start;
          // // padding: 0 30px 80px 30px;
          // border-right: 2px solid #ececec;
          // transition: all 0.4s;
          // min-height: 680px;
          // width: 31%;
          // margin-right: 2%;
          // padding-right: 2%;
          // margin-bottom: 5%;
          // margin-left: 3rem;

          &:first-child {
            // margin-left: 0rem;
          }

          // &:hover {
          //   background-color: #5c2dcc;

          //   min-height: 701px;
          // }

          // &:hover * {
          //   color: #fff;
          //   stroke: #fff;
          // }

          // &:hover a {
          //   color: #fff;
          // }

          &_number {
            grid-column: 1 / -1;
            padding-bottom: 10px;

            p {
              font-size: 25px;
              color: #cdcccc;
              font-family: "ak-light";
            }
          }

          &_head {
            p {
              font-size: 22px;
            }
          }

          &_img {
            height: 233px;
          }

          &_challenges {
            padding-top: 20px;

            h3 {
              font-size: 18px;
            }

            p {
              font-size: 13px;
            }
          }

          &_list {
            .pointersTitle {
              font-size: 18px;
            }

            ul {
              li {
                font-size: 15px;
              }
            }
          }

          &_button {
            font-size: 17px;

            svg {
              color: inherit;
              margin-left: 10px;
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .firstSec {
    &__content {
      .clients {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-row-gap: 2rem;
        grid-column-gap: 1rem;

        padding-bottom: 40px;

        &__item {
          width: 100%;

          &_button {
            flex: 1;

            display: flex;
            align-items: flex-end;
          }
        }
      }
      .knowledge {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 1.5rem;

        padding-bottom: 2rem;

        &__blog {
          width: 100%;
        }
      }
    }
  }
}

@media only screen and (min-width: 320px) and (max-width: 600px) {
  .firstSec {
    overflow-x: hidden;
    &__content {
      .clients {
        flex-direction: column;

        padding-bottom: 40px;

        &__item {
          width: 95%;
          margin: auto;
          border: none;

          &:first-child {
            margin-left: auto;
          }

          &:not(:last-child) {
            margin-bottom: 2.5rem;
          }
        }
      }

      .knowledge {
        flex-wrap: wrap;
        padding-bottom: 2rem;
        padding-top: 20px;

        &__blog {
          min-height: 525px;
          margin-bottom: 30px;
          width: 100%;
        }
      }
    }
  }
}
