.contact {
  background-color: #fff;
  padding-top: 150px;
  height: 100vh;
}

.contactUs {
  position: relative;
  color: #0b0754;
  font-family: "ak-med";

  &__heading {
    font-family: "ak-reg";
    font-size: 80px;
    font-weight: 200;
    padding: 20px 0px 0 0;
    width: 100%;
  }

  &__subHeading {
    font-size: 33px;
    font-family: "ak-light";
    padding: 20px 0px 0 0;
    width: 60%;
  }

  .formWrapper {
    display: flex;
    width: 100%;

    .contactImg {
      width: 30%;
      transform: translateY(10%);

      img {
        width: 100%;
        // height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
  }

  &__form {
    padding: 60px 0px 200px 0;
    width: 70%;
    // max-width: 1000px;

    label {
      text-transform: uppercase;
    }

    &_firstRow {
      display: flex ;
      flex-direction: column;
    }

    .nameField {
      display: flex;
      flex-direction: column;
      width: 500px;
      padding-right: 50px;
      padding-bottom: 70px;

      .contactUsLabel {
        // padding-bottom: 10px;
        font-size: 16px;
        font-family: "ak-med";
        text-transform: uppercase;
        letter-spacing: 0.3px;
      }

      .contactUsInput {
        border: none;
        height: 45px;
        font-size: 27px;
        font-family: "ak-med";
        outline: none;
        //   padding-left: 10px;
      }
    }

    .textareaDiv {
      padding-bottom: 10px;
      display: flex;
      justify-content: space-between;
      width: 100%;
      height: auto;

      .textarea {
        max-width: 100%;
        // width: 20;
        // height: 50px;
        resize: none;
        border-bottom: 1px solid #0b0754 !important;
        line-height: 120%;
        font-size: 40px;
        font-family: "ak-med";
        color: #0b0754;
        outline: none;
        border: none;

        &::placeholder {
          overflow: hidden;
          //   border-right: 0.05em solid #464545;
          white-space: nowrap;

          font-family: "ak-med";
          font-size: 80px;
          color: rgb(189, 187, 187);
        }
      }

      .autoTyped {
        .typeTxt {
          width: 0;
          max-width: max-content;
          overflow: hidden;
          border-right: 0.05em solid #464545; /* The typwriter cursor */
          white-space: nowrap; /* Keeps the content on a single line */
          margin: 0;
          font-family: "ak-med";
          // font-weight: 100;
          font-size: 40px;
          color: rgb(216, 214, 214);
          animation: typing-erase 2s steps(50, end) infinite,
            blink-caret 0.8s step-end infinite;

          /* The type and erase effect */
          @keyframes typing-erase {
            0% {
              width: 0;
            }
            80% {
              width: 100%;
            }
            90%,
            100% {
              width: 0;
            }
          }

          /* The typewriter cursor effect */
          @keyframes blink-caret {
            from,
            to {
              border-color: transparent;
            }
            50% {
              border-color: gray;
            }
          }
        }
      }
    }

    .contactUsButton {
      margin-top: 30px;
      // float: right;,
      margin-right: 50px;
      transition: all 0.5s ease-out;
      padding: 10px 14px;
      font-size: 18px;
      height: 50px;
      width: 200px;
      border: 1px solid #0b0754;
      outline: none;
      cursor: pointer;
      font-family: "ak-reg";
      text-transform: uppercase;
      letter-spacing: 0.8px;
      background-color: #0b0754;
      color: #fff;
      position: relative;

      span {
        position: relative;
      }
      &::before {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        content: "";
        transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
        transform: scale(0, 1);
        transform-origin: right center;
        background: white;
      }

      &:hover {
        color: black;
        &::before {
          transform: scale(1, 1);
          transform-origin: left center;
        }
      }
    }
  }
}

.successMsg {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;

  &__text {
    font-size: 40px;
    color: #5c2dcc;
    font-family: "ak-reg";
    text-align: center;
    line-height: 150%;
  }
}

@media only screen and (max-width: 1650px) {
  .contact {
    padding-top: 120px;
  }

  .contactUs {
    &__heading {
      font-size: 50px;
    }

    &__subHeading {
      font-size: 25px;
      padding-top: 10px;
    }

    .formWrapper {
      .contactImg {
        // width: 30%;
        transform: translateY(-15%);
      }
    }

    &__form {
      padding: 60px 0px 200px 0;
      width: 65%;

      label {
        font-size: 12px;
      }

      .nameField {
        width: 500px;
        padding-right: 50px;
        padding-bottom: 50px;

        .contactUsLabel {
          font-size: 12px;
        }

        .contactUsInput {
          font-size: 22px;
        }
      }

      .textareaDiv {
        .textarea {
          font-size: 40px;

          &::placeholder {
            overflow: hidden;
            //   border-right: 0.05em solid #464545;
            white-space: nowrap;

            font-family: "ak-med";
            font-size: 80px;
            color: rgb(189, 187, 187);
          }
        }

        .autoTyped {
          .typeTxt {
            width: 0;
            max-width: max-content;
            overflow: hidden;
            border-right: 0.05em solid #464545; /* The typwriter cursor */
            white-space: nowrap; /* Keeps the content on a single line */
            margin: 0;
            font-family: "ak-med";
            // font-weight: 100;
            font-size: 40px;
            color: rgb(216, 214, 214);
            animation: typing-erase 2s steps(50, end) infinite,
              blink-caret 0.8s step-end infinite;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .contactUs {
    &__heading {
      font-size: 60px;
      width: 100%;
    }

    &__subHeading {
      width: 100%;
      font-size: 28px;
      line-height: 150%;
      padding-top: 10px;
    }

    .formWrapper {
      margin-top: 2rem;
      flex-direction: column-reverse;

      .contactImg {
        width: 70%;
        transform: translateY(0%);

        img {
          width: 100%;
        }
      }
    }

    &__form {
      width: 100%;
      padding: 80px 0px 120px 10px;
      // border: 1px solid red;
    }

    .contactImg {
      width: 50%;
      height: 50%;
      margin: auto;
    }

    .textareaDiv {
      .autoTyped {
        .typeTxt {
          font-size: 30px;
        }
      }
    }
  }
}

@media only screen and (min-width: 320px) and (max-width: 600px) {
  .contactUs {
    overflow: hidden;

    &__heading {
      font-size: 40px;
      width: 100%;
    }

    &__subHeading {
      font-size: 20px;
      width: 100%;
      padding-top: 10px;
    }

    .formWrapper {
      flex-direction: column-reverse;

      .contactImg {
        width: 100%;
        transform: translateY(0%);
        margin-top: 10%;

        img {
          width: 100%;
        }
      }
    }

    &__form {
      & input {
        display: block;
        width: 80%;
      }

      select {
        width: 80%;
      }

      textarea {
        width: 80%;
      }
      &_firstRow {
        display: block;
        // overflow: hidden;

      }
    }
  }

  .contact {
    padding-top: 70px;
  }
}
