// Knowledge Base page

.firstSec {
  padding-top: 120px;

  &__content {
    padding-bottom: 100px;

    h1 {
      font-size: 190px;
      font-family: "ak-bold";
      text-align: center !important;
      line-height: 100%;
      padding: 50px 0 80px 3%;
      // white-space: nowrap;
    }

    .marquee {
      height: 100px;
      width: 100vw;

      overflow: hidden;
      position: relative;

      &__inner {
        display: block;
        // width: 230vw;
        width: 260%;
        height: 150px;
        position: absolute;
        overflow: hidden;
        transition: all 0.6s linear !important;
        animation: marquee 30s linear infinite;
        // animation-delay: 2s;

        &:hover {
          animation-play-state: paused;

          span {
            -webkit-text-fill-color: #5b5b5b;
            cursor: default;
          }
        }

        span {
          font-size: 4vw;
          text-transform: uppercase;
          white-space: nowrap;
          //   overflow: hidden;
          float: left;
          width: 50%;
          -webkit-text-stroke: 2px #5b5b5b;
          -webkit-text-fill-color: #000;
          font-family: "ak-bold";
        }
      }

      @keyframes marquee {
        0% {
          left: 20%;
        }
        100% {
          left: -100%;
        }
      }
    }
  }
}

.secondSec {
  padding-bottom: 80px;
  &__content {
  }
}

.thirdSec {
  padding-bottom: 100px;
  &__content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    // flex-wrap: wrap;
  }
}

// Knowledge Base Component

.knowledge {
  display: flex;
  align-items: center;

  &__left {
    overflow: hidden;
    width: 50%;
    height: 594px;
    max-width: 821px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      transform: scale(1);
      transition: all 0.3s ease;
    }

    &:hover {
      img {
        transform: scale(1.08);
      }
    }
  }

  &__right {
    width: 50%;
    padding-right: 8%;
    padding-left: 5%;

    .knowledgeType {
      color: #707070;
      font-size: 22px;
      font-family: "ak-light";
    }

    .knowledgeTitle {
      font-size: 28px;
      font-family: "ak-Sbold";
      padding: 10% 0;
    }
    .knowledgeDesc {
      font-size: 18px;
      font-family: "ak-light";
      line-height: 150%;
      padding-bottom: 8%;
    }

    .knowledgeReadMore {
      width: 246px;
      height: 59px;
      border: 1px solid #fff;
      font-size: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-image: linear-gradient(
        to left,
        transparent,
        transparent,
        #19c6fe,
        #5b2dcc
      );
      background-size: 300%;
      background-position: 100% 0;
      transition: all 0.4s ease-out;

      &:hover {
        background-position: 0 100%;
        border: none;
      }
    }
  }
}

// Knowledge Card

.knowledgeCard {
  // width: 447px;
  width: 30%;
  margin-right: 3%;
  border-bottom: 12px solid #4d4d4d;
  padding-bottom: 40px;
  margin-bottom: 8%;

  &:last-child {
    margin-right: 0;
  }

  &__img {
    height: 447px;
    // width: 447px;
    overflow: hidden;
    display: block;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      transform: scale(1);
      transition: all 0.25s ease;
    }

    &:hover {
      img {
        transform: scale(1.08);
      }
    }
  }

  &__category {
    font-size: 16px;
    color: #707070;
    font-family: "ak-light";
    padding: 30px 0 20px 0;
  }

  &__title {
    margin-bottom: 40px;
    background-image: linear-gradient(to bottom, transparent 40%, #a652ff 10%);
    background-size: 0% 100%;
    background-repeat: no-repeat;
    -webkit-text-decoration: none;
    text-decoration: none;
    -webkit-transition: background-size 0.4s ease;
    transition: background-size 0.4s ease;
    color: inherit;
    -webkit-text-decoration: none;
    text-decoration: none;

    span {
      font-size: 28px;
      line-height: 34px;
      font-family: "ak-med";
    }

    &:hover {
      background-size: 100% 100%;
      cursor: pointer;
    }
  }
}

@media only screen and (max-width: 1600px) {
  // Knowledge Base page

  .firstSec {
    padding-top: 90px;

    &__content {
      padding-bottom: 50px;

      h1 {
        font-size: 150px;
        padding: 50px 0 50px 3%;
      }
    }
  }

  .secondSec {
    padding-bottom: 80px;
  }

  .thirdSec {
    padding-bottom: 80px;
  }

  // Knowledge Base Component

  .knowledge {
    &__left {
      height: 500px;
      max-width: 821px;
    }
  }

  // Knowledge Card

  .knowledgeCard {
    &__img {
      height: 330px;
    }

    &__title {
      span {
        font-size: 24px;
      }
    }
  }
}
