.privacyPolicy {
  width: 100%;
  height: 100%;
  padding: 180px 0 100px 0;
  background-color: #fff;

  &__content {
    // max-width: 1794px;
    max-width: 1100px;
    padding: 0 4%;
    margin: auto;
    // width: 50%;

    .privacyInfo {
      padding-bottom: 7%;
      &__title {
        margin-bottom: 10px;
        font-size: 30px;
        font-family: "ak-med";
        color: #5c2dcc;
        border-bottom: 2px solid #5c2dcc;
        padding-bottom: 10px;
        font-weight: 100;
      }

      &__desc {
        font-size: 22px;
        color: #0b0754;
        font-family: "ak-reg";
      }
    }
  }
}

@media only screen and (max-width: 1600px) {
  .privacyPolicy {
    padding: 140px 0 80px 0;

    &__content {
      max-width: 1100px;
      padding: 0 4%;
      margin: auto;

      .privacyInfo {
        padding-bottom: 7%;
        &__title {
          font-size: 28px;
        }

        &__desc {
          font-size: 21px;
        }
      }
    }
  }
}

@media only screen and (min-width: 320px) and (max-width: 1024px) {
  .privacyPolicy {
    padding: 120px 0 80px 0;

    &__content {
      max-width: 1100px;
      padding: 0 4%;
      margin: auto;

      .privacyInfo {
        padding-bottom: 5%;
        &__title {
          margin-bottom: 6px;
          font-size: 22px;

          border-bottom: 1.3px solid #5622bd;
          padding-bottom: 5px;
        }

        &__desc {
          font-size: 15px;
        }
      }
    }
  }
}
