@font-face {
  font-family: "ak-reg";
  src: url("/fonts/AktivGrotesk-Regular.ttf");
  font-display: swap;
}
@font-face {
  font-family: "ak-med";
  src: url("/fonts/AktivGrotesk-Medium.ttf");
  font-display: swap;
}
@font-face {
  font-family: "ak-light";
  src: url("/fonts/AktivGrotesk-Light.ttf");
  font-display: swap;
}
@font-face {
  font-family: "ak-lightItalic";
  src: url("/fonts/AktivGrotesk-LightItalic.ttf");
  font-display: swap;
}
@font-face {
  font-family: "ak-thin";
  src: url("/fonts/AktivGrotesk-Thin.ttf");
  font-display: swap;
}
@font-face {
  font-family: "ak-bold";
  src: url("/fonts/AktivGrotesk-Bold.ttf");
  font-display: swap;
}
@font-face {
  font-family: "ak-Sbold";
  src: url("/fonts/AktivGrotesk-XBold.ttf");
  font-display: swap;
}
@font-face {
  font-family: "h-reg";
  src: url("/fonts/Helvetica-regular.ttf");
  font-display: swap;
}
