.popup {
  // padding: 2rem 3rem;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
  z-index: 1001;
  overflow: auto;
  background-color: rgba(#000, 0.8);

  &__container {
    // height: 100%;
    width: 100%;
    margin: auto;
    max-width: 1549px;
    padding: 2% 0 2.5% 0;
    overflow-y: auto;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__layout {
    &--head {
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      background-image: linear-gradient(90deg, #5c2dcc, #397de6, #19c8ff);
    }

    &--information,
    &--items {
      background-color: #fff;
    }

    &--items {
      padding-bottom: 2.5%;
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
    }
  }

  &__head {
    width: 95%;
    margin: auto;
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;

    &--info {
      display: flex;
      align-items: center;

      & > * {
        padding: 0 1rem;
      }

      h4 {
        position: relative;
        font-weight: 400;
        padding-left: 0;

        &::after {
          content: "";
          position: absolute;
          top: 0;
          right: 0;
          width: 2px;
          height: 80%;
          transform: translateY(15%);
          background-color: #fff;
        }
      }
    }
  }

  &__information {
    width: 95%;
    margin: auto;
    &--title {
      align-self: center;
      color: #5c2dcc;
      // padding: 1rem 1.5rem;
      width: 70%;
      padding: 3% 0;

      h3 {
        line-height: 120%;
        font-weight: 300;
        font-size: 60px;
        font-family: "ak-light";
      }
    }

    &--text {
      align-self: stretch;
      width: 70%;
      margin: auto;
      font-size: 1.75rem;
      color: #4d4d4d;

      line-height: 1.3;

      p {
        font-weight: lighter;
      }
    }

    &--image {
      grid-column: 1 / -1;
      grid-row: 2 / 3;
      align-self: end;
      // padding: 1rem 0;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }

    &--info {
      grid-column: 1 / -1;
      align-self: end;
      margin-top: -3px;
      padding: 2rem;
      // margin: 0 1.7vw;
      // margin-top: -2rem;

      position: relative;
      z-index: 10;

      background-color: #5c2dcc;
      color: #fff;

      font-size: 22px;
      line-height: 1.7;
      white-space: pre-line;
    }
  }

  &__items {
    background-color: #ececec;
    color: #000;
    width: 95%;
    margin: 0 auto;
    // margin: -1rem 4vw;
    // padding: 2rem 5%;

    &--title {
      padding: 4% 5% 1% 5%;
      h2 {
        font-size: 31px;
        font-family: "ak-reg";
        font-weight: 100;
        line-height: 140%;
        white-space: pre-line;
      }
    }

    &--subtitle {
      font-size: 26px;
      color: #0f0f0f;
      font-family: "ak-lightItalic";
      padding-top: 1.5%;

      a {
        color: #a652ff;
        font-weight: 900;
      }
    }

    &--cards {
      width: 100%;
      padding: 0 5%;
      margin-top: 30px;
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      flex-wrap: wrap;
      // display: grid;
      // grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
      // grid-gap: 1rem;

      .cardGradient {
        // min-height: 620px;
        // height: 50%;
        width: 31%;
        background: linear-gradient(#1fc4fd, #5b30cd);
        padding: 8% 20px;
        border-radius: 6px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        p {
          font-size: 40px;
          font-family: "ak-med";
          text-align: center;
          color: #fff;
          padding-bottom: 10%;
          font-weight: 100;
        }

        a {
          width: 226px;
          height: 50px;
          display: flex;
          align-items: center;
          justify-content: center;
          margin: 0 auto;
          text-align: center;
          background: #fff;
          color: #5c2dcc;
          font-size: 20px;
          font-family: "ak-reg";
          cursor: pointer;
        }
      }
    }
  }

  &__close {
    display: flex;

    cursor: pointer;

    p {
      text-transform: uppercase;
      margin-left: 0.5rem;
    }
  }

  &__card {
    border-radius: 6px;
    // width: 100%;
    width: 31%;
    margin-right: 30px;
    padding: 20px;
    background-color: #fff;
    // overflow: hidden;

    // min-height: 620px;
    margin-bottom: 30px;

    &--number {
      color: #5c2dcc;
    }

    &--svg {
      width: 100%;
      height: 204px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }

    &--title {
      font-size: 22px;
      padding: 3% 0 1% 0;
      font-weight: 400;
      color: #5c2dcc;
      line-height: 140%;
    }

    &--text {
      padding: 2% 0;
      line-height: 1.4;
      color: #0f0f0f;

      p {
        font-size: 16px;
        line-height: 150%;
        white-space: pre-line;
      }
    }

    &--solution {
      font-size: 18px;
      color: #0f0f0f;
      font-family: "ak-med";
    }

    &--pointers {
      color: #0f0f0f;
      padding-left: 13px;

      li {
        padding-bottom: 4%;
      }
    }

    &--pointerHead {
      font-size: 18px;
      font-family: "ak-med";
    }

    &--pointerBody {
      font-size: 16px;
      font-family: "ak-light";
      white-space: pre-line;
      line-height: 150%;
    }
  }

  &__getStarted {
    grid-column: 1 / -1;

    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 1% 0;

    h2 {
      font-size: 2rem;
      color: #fff;
      text-align: center;
      margin-bottom: 2rem;
    }

    &--button {
      padding: 1rem 1.2rem;
      transition: all 0.2s;
      cursor: pointer;

      a {
        display: flex;
        align-items: center;
        color: #5c2dcc;
        font-size: 34px;
        font-family: "ak-reg";
        font-weight: 100;

        &:hover {
          span {
            transform: scale(1.3) translateY(-10px);
            background-color: #fff !important;

            .activeArrow {
              transform: translate(30px, -30px);
            }

            .hoveredArrow {
              position: absolute;
              transform: translate(0);
            }
          }
        }

        span {
          min-width: 39px;
          min-height: 39px;
          width: 39px;
          height: 39px;
          border-radius: 50%;
          background-color: #a652ff;
          margin-left: 20px;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          transition: all 0.3s ease-out;
          transform: scale(1) translateY(-15px);
          overflow: hidden;

          svg {
            transition: all 0.3s ease-out;
          }

          .activeArrow {
            position: absolute;
            transform: translate(0);
            width: 15px;
            height: 12px;
          }

          .hoveredArrow {
            transform: translate(-30px, 30px);
            width: 18px;
            height: 15px;
          }

          &:hover {
            transform: scale(1.3) translateY(-10px);
            background-color: #fff !important;

            .activeArrow {
              transform: translate(30px, -30px);
            }

            .hoveredArrow {
              position: absolute;
              transform: translate(0);
            }
          }
        }

        &:link,
        &:visited {
          // color: #5c2dcc;
          // font-size: 34px;
          // font-family: "ak-reg";
          // font-weight: 100;
        }
      }
    }
  }
}

@media only screen and (max-width: 1600px) {
  .popup {
    &__container {
      max-width: 75vw;
    }

    &__information {
      &--title {
        h3 {
          font-size: 40px;
        }
      }

      &--text {
        align-self: stretch;
        width: 70%;
        margin: auto;
        font-size: 1.75rem;
        color: #4d4d4d;

        line-height: 1.3;

        p {
          font-weight: lighter;
        }
      }

      &--image {
        grid-column: 1 / -1;
        grid-row: 2 / 3;
        align-self: end;
        // padding: 1rem 0;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
        }
      }

      &--info {
        font-size: 16px;
      }
    }

    &__items {
      &--title {
        h2 {
          font-size: 20px;
        }
      }

      &--subtitle {
        font-size: 18px;
      }

      &--cards {
        width: 100%;
        padding: 0 5%;
        margin-top: 30px;

        // grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));

        .cardGradient {
          // min-height: 450px;

          p {
            font-size: 28px;
          }

          a {
            width: 180px;
            height: 40px;
            font-size: 16px;
          }
        }
      }
    }

    &__card {
      padding: 15px;
      margin-right: 20px;
      // min-height: 450px;
      margin-bottom: 20px;

      &--title {
        font-size: 16px;
      }

      &--text {
        p {
          font-size: 12px;
        }
      }

      &--svg {
        width: 100%;
        height: 150px;
      }

      &--solution {
        font-size: 15px;
      }

      &--pointers {
        color: #0f0f0f;
        padding-left: 13px;

        li {
          padding-bottom: 5%;
        }
      }

      &--pointerHead {
        font-size: 13px;
      }

      &--pointerBody {
        font-size: 12px;
      }
    }
  }
}

// ipads
@media only screen and (max-width: 1024px) and (min-width: 601px) {
  .popup {
    &__container {
      max-width: 90vw;
      margin-bottom: 15%;
    }

    &__information {
      &--title {
        h3 {
          font-size: 40px;
        }
      }

      &--text {
        align-self: stretch;
        width: 70%;
        margin: auto;
        font-size: 1.75rem;
        color: #4d4d4d;

        line-height: 1.3;

        p {
          font-weight: lighter;
        }
      }

      &--image {
        grid-column: 1 / -1;
        grid-row: 2 / 3;
        align-self: end;
        // padding: 1rem 0;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
        }
      }

      &--info {
        font-size: 16px;
      }
    }

    &__items {
      &--title {
        h2 {
          font-size: 20px;
        }
      }

      &--cards {
        width: 100%;
        padding: 0 5%;
        margin-top: 30px;

        .cardGradient {
          height: auto !important;
          // min-height: 450px;
          width: 80%;
          margin: 10px auto !important;

          margin-bottom: 1rem;
          height: 50%;

          p {
            font-size: 28px;
          }

          a {
            width: 180px;
            height: 40px;
            font-size: 16px;
          }
        }
      }
    }

    &__card {
      padding: 15px;
      margin-right: 20px;
      height: auto !important;
      // min-height: 450px;
      margin-bottom: 20px;
      width: 80%;
      margin: 10px auto !important;

      &--title {
        font-size: 16px;
      }

      &--text {
        p {
          font-size: 12px;
        }
      }
    }

    &__getStarted {
      &--button {
        a {
          &:link,
          &:visited {
            font-size: 27px;
          }

          span {
            margin-left: 10px;

            svg {
              width: 30px;

              &:last-child {
                display: none;
              }
            }
          }
        }
      }
    }
  }
}

// Mobile
@media only screen and (max-width: 600px) and (min-width: 320px) {
  .popup {
    &__container {
      max-width: 90vw;
      padding: 60px 0 2% 0;
      margin-bottom: 15%;
    }

    &__close {
      position: absolute;
      top: 25px;
      left: 50%;
      transform: translateX(-50%);
    }

    &__information {
      &--title {
        width: 95%;

        h3 {
          font-size: 30px;
        }
      }

      &--text {
        align-self: stretch;
        width: 70%;
        margin: auto;
        font-size: 1.75rem;
        color: #4d4d4d;

        line-height: 1.3;

        p {
          font-weight: lighter;
        }
      }

      &--image {
        grid-column: 1 / -1;
        grid-row: 2 / 3;
        align-self: end;
        // padding: 1rem 0;
        height: 272px;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
        }
      }

      &--info {
        font-size: 16px;
        padding: 15px;
      }
    }

    &__head {
      &--info {
        h4 {
          font-size: 16px;
          white-space: nowrap;
        }
      }
    }

    &__items {
      &--title {
        h2 {
          font-size: 20px;
          text-align: center;
        }
      }

      &--cards {
        width: 100%;
        padding: 0 2%;
        margin-top: 30px;
        flex-direction: column;

        .cardGradient {
          height: auto !important;
          width: 100%;
          padding: 60px 0;

          p {
            font-size: 40px;
          }

          a {
            width: 180px;
            height: 40px;
            font-size: 16px;
          }
        }
      }
    }

    &__card {
      padding: 10px;
      margin-right: 0px;
      height: auto !important;
      margin-bottom: 40px;
      margin: 10px auto !important;
      width: 100%;
      // background-color: transparent;

      &--title {
        font-size: 16px;
      }

      &--text {
        p {
          font-size: 12px;
        }
      }
    }

    &__getStarted {
      &--button {
        padding: 0 2%;
        a {
          flex-direction: column;
          justify-content: center;
          text-align: center;

          &:link,
          &:visited {
            font-family: "ak-light";
            font-size: 32px;
          }

          span {
            margin-left: 10px;
            transform: translateY(0);
            margin: 30px 0;

            svg {
              width: 30px;
            }
          }
        }
      }
    }
  }
}
